.CreateButton {
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: var(--hover);
  display: grid;
  place-items: center;
  border: none;
  border-radius: 13px 0 0 13px;
}
.CreateButton-icon {
  font-size: 24px;
  color: var(--white);
}
